body{
  margin: 0;
}
.header{
  background-color: rgb(218, 183, 94);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: x-large;
  font-family: 'Phudu', cursive;
}
.img{
  filter: invert(48%) sepia(79%) saturate(2476%) brightness(118%);
}
